apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "es-cluster.proxy.fullname" . }}
  labels:
    {{- include "es-cluster.proxy.labels" . | nindent 4 }}
spec:
  replicas: {{ default 1 .Values.proxy.replicas }}
  selector:
    matchLabels:
      {{- include "es-cluster.proxy.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "es-cluster.proxy.labels" . | nindent 8 }}
    spec:
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: nginx
        image: nginx:1.27-alpine
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        volumeMounts:
        - name: config
          subPath: nginx.conf
          mountPath: /etc/nginx/nginx.conf
        {{- with .Values.proxy.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "es-cluster.proxy.fullname" . }}
        